/GIT_Build
/Release
obj
bin
/Build
/.vs
/Source/Plugins/VisplaneExplorer/Resources/*.ilk
/Source/Plugins/VisplaneExplorer/Resources/*.exp
/Source/Plugins/VisplaneExplorer/Resources/*.lib
/Source/Plugins/VisplaneExplorer/Resources/*.pdb
/Source/Plugins/vpo_dll/Debug
/Source/Plugins/vpo_dll/*.user
/Source/Native/Debug
/Source/Native/Release
*.iobj
*.ipdb
/Source/Plugins/vpo_dll/Release
/Source/Core/*.user
/Source/Native/*.log
/Build/builder

# SOL local tools and generated content
/.sol-tools
/.sol-env
/build/sol
/sol-project/doommake-workspace
/sol-project/*.dbs
/sol-project/*.backup*
/sol-project/.udb
